/* aboutus */

/* .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

.containerAU {
  box-sizing: border-box;
}

.headerTxtAU {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(190, 190, 190, 0.5)), url('/events/gifting.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: auto;
  color: #FFF;
} 

.headerTxtAU h1 {
  font-family: 'Martel Sans Bold';
  font-size: clamp(30px, 3vw, 100px);
  margin-bottom: 0;
  padding: 0;
  line-height: 1.3;
}

.headerTxtAU p {
  font-family: 'Martel Sans Reg';
  font-size: clamp(10px, 1.2vw, 40px);
  margin: 0;
  padding: 0;
}

.searchAU {
  gap: 2vw;
  margin: 2vw;
  justify-content: center;
}

.searchAU input {
  width: 50%;
  padding: 1vw;
  font-family: 'Martel Sans SemiB';
}