.div_wrapper_home {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
}

/* #div_carousell {
    top:0;
    height: 40vh;
    overflow: hidden;
    max-height: 500px;
}


#img_ph1, #img_ph2 {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: static;
}

#div_home_2nd {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 2) 0px 22px 250px 4px;
} */
/* ---------------------------- */

.img_bg {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    background-color: #A41216;
    overflow: hidden;
    object-fit: cover;
    height: 30vh;
}

.img_bg img {
    width: 100%;
    margin-top: -150px;
}

@media (max-width: 700px) {
    .img_bg {
        display: none;
    }

    .div_home_2nd {
        margin-top: 5vh;
    }
}

.div_title {
    align-items: center;
    justify-items: center;
    text-align: center;
    position: relative;
    padding: 4vw;
    padding-bottom: 2vw;
}

.div_title :global(h1) {
    font-size: clamp(30px, 3vw, 100px);
    font-family: 'Martel Sans Bold';
    color: #A41216;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 0.05vw;
}

.h3_welcome {
    font-size: clamp(10px, 1.5vw, 60px);
    font-family: 'Martel Sans Light';
    color: #5A1717;
    margin: 0;
}

.h3_cn {
    font-size: clamp(30px, 2vw, 80px);
    font-family: 'Martel Sans Light';
    color: #5A1717;
    margin: 0;
}

.div_btns_home {
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 2vh;
    /* background-color: #FFFFFF; */
    z-index: 2;
}

/* -------------------- */

.div_mission {
    width: 100%;    
    align-items: stretch;
    z-index: 2;
    position: relative;
}

.div_mTexts {
    width: 40%;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 5vw;
    background-color: #942636;
    color: #FFFFFF;
}

.div_mTexts :global(h2) {
    font-size: clamp(15px, 3vw, 80px);
    font-family: 'Martel Sans SemiB';
    margin: 0;
}

.div_mTexts :global(p) {
    font-size: clamp(7px, 1.5vw, 60px);
    font-family: 'Martel Sans Light';
    margin: 0;
    line-height: 1.3;
}

.img_missionImg {
    width: 60%;
    height: auto;
}

.div_serviceTiming {
    width: 40%;
    justify-content: center;
    padding: 2vw;
    padding-left: 5vw;
    background-color: #942636;
    color: #FFFFFF;
}

.div_serviceTiming :global(h1) {
    z-index: 4;
    padding-top: 4vw;
    font-family: 'Martel Sans Bold';
    font-size: clamp(10px, 3vw, 80px);
    margin: 0;
}

.div_serviceTiming :global(h3) {
    font-family: 'Martel Sans SemiB';
    font-size: clamp(10px, 2vw, 60px);
    margin: 0;
    line-height: 1.3;
}

.div_serviceTiming :global(p) {
    font-family: 'Martel Sans Reg';
    font-size: clamp(10px, 1.5vw, 60px);
    margin: 0;
}

.freep_freel {
    text-align: center;
    font-family: 'Martel Sans Light';
    font-size: clamp(10px, 1vw, 40px);
    padding-top: 3vw;
    color: #ffffffa2;
}


/* ----------------- */
.div_growing {
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.div_growText {
    width: 50%;
    padding: 5vw;
}

.div_growText :global(p) {
    font-family: 'Martel Sans Light';
    font-size: clamp(7px, 1.5vw, 60px);
    line-height: 1.4;
}

.line_home{
    width: 100%;
    background-color: #942636;
    height: clamp(0.1px, 0.05vw, 3px);
    margin: 0;
}

.div_imgLM {
    width: 100%;
    padding: 2vw;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
}

.div_imgLM img {
    width: 60%;
}

.div_g{
    width: 50%;
    color: #254188;
    /* align-items: center; */
    justify-content: center;
    /* background-color: #942636; */
    margin: 2vw;
}

.div_g :global(h1) {
    font-family: 'Martel Sans SemiB';
    font-size: clamp(15px, 5vw, 120px);
    line-height: 1.0;
    margin: 0;
}

.div_g :global(h3) {
    font-family: 'Chinese';
    font-size: clamp(15px, 3vw, 50px);
    margin-left: 15vw;
}

/* ----------- */

.div_cuText {
    background-color: #942636;
    color: #FFFFFF;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    padding: 4vw;
    position: relative;
}

.div_cuText :global(h2) {
    font-family: 'Martel Sans SemiB';
    font-size: clamp(15px, 2.5vw, 70px);
    line-height: 1.0;
    margin-bottom: 2vw;
}

.div_cuText :global(h4) {
    font-family: 'Martel Sans Reg';
    font-size: clamp(10px, 1.5vw, 50px);
    line-height: 1.0;
    margin: 0;
}

.div_cuText :global(p) {
    font-family: 'Martel Sans Light';
    font-size: clamp(10px, 1vw, 30px);
    line-height: 1.1;
    margin-bottom: 4vw;
}

.div_tel {
    justify-content: space-between;
    align-items: flex-start;
}

.div_cuText p.tel {
    font-size: clamp(10px, 1.5vw, 50px);
    line-height: 1.4;
    margin: 0;
}

/* ------------------------ */
.home_bw1 {
    position: absolute;
    width: clamp(10px, 35vw, 700px);
    height: auto;
    top: 0;
    left: 0;
    rotate: 180deg;
}

.home_bw2 {
    position: absolute;
    width: clamp(10px, 35vw, 700px);
    height: auto;
    top: 0;
    right: 0;
}

.home_bl1 {
    position: absolute;
    width: clamp(10px, 4vw, 80px);
    height: auto;
    top: 10vw;
    left: 2vw;
    margin: 0;
}

.home_bl1_1 {
    position: absolute;
    width: clamp(10px, 4vw, 80px);
    height: auto;
    top: 7vw;
    left: 2vw;
    margin: 0;
}

.home_bl2 {
    position: absolute;
    width: clamp(10px, 5vw, 100px);
    height: auto;
    bottom: 3vw;
    left: 33vw;
    margin: 0;
}

.home_bl3 {
    position: absolute;
    width: clamp(10px, 3vw, 50px);
    height: auto;
    top: 5vw;
    left: 33vw;
    margin: 0;
}

.cuText_bl {
    position: absolute;
    width: clamp(10px, 8vw, 120px);
    height: auto;
    top: 1vw;
    right: 0;
    margin: 0;

}


/* ------------------- */

.home_calendar {
    justify-content: center;
    align-items: center;
    margin: 3vw;
    margin-top: 0;
    padding: 2vw;
    padding-top: 0;
    position: relative;
    overflow: hidden;
}

.home_calendar :global(h3) {
    font-family: 'Martel Sans Bold';
    font-size: clamp(10px, 2.5vw, 80px);
    color: #942636;
    margin-bottom: 0;
}

.iframe_gCalendarEmbed {
    width: 100%;
    height: 40vw;
    margin-top: 2vw;
    border: none;
    position: relative;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* opacity: 0.8; */

    z-index: 5;
}


.calendarWrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    object-fit: cover;
    z-index: 1;
    border-radius: 16px;
}

@media (max-width: 768px) {

    .iframe_gCalendarEmbed {
        width: 100%;
        height: 40vh;
        margin-top: 2vw;
        border: none;
        position: relative;
        border-radius: 16px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        /* opacity: 0.8; */

        z-index: 5;
    }
}