#divNav {
    display: flex;
    height: 4vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1vw;
    /* background-color: black; */
    z-index: 10000;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.29); */
    /* background-color: rgba(0, 0, 0, 0); */
    box-sizing: border-box;
    /* position: fixed; */
    font-family: 'Martel Sans Bold';
    position: fixed;
}

#divNav img {
    width: clamp(30px, 20vw, 200px);
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 0.3vw;
}

/* white */

#divNav_white {
    display: flex;
    height: 4vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1vw;
    color: white;
    z-index: 10000;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.29); */
    box-sizing: border-box;
    font-family: 'Martel Sans Bold';
    position: fixed;
}

#divNav_white img {
    width: clamp(30px, 20vw, 200px);
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 0.3vw;
}

#navbar h4 {
    margin: 0;
    padding: 0;
    position: relative;
    /* color: black; */
}

#div_fellowshipDropdown {
    position: absolute;
    width: 20vw;
    padding: 1vw;
    background-color: bisque;
    gap: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    color: black;
    font-family: 'Martel Sans Bold';
    font-size: clamp(10px, 1vw, 50px);
}
