.div_HB {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    width: clamp(30px, 8vw, 100px);
    height: clamp(50px, 12vw, 180px);;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    text-align: center;
    background-color: #FFFFFF;
    position: relative;
    z-index: 3;
}

.div_HB:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.div_HB img {
    width: 100%;
    height: auto;
}

.div_HB h3 {
    margin: 0;
    font-family: 'Martel Sans SemiB';
    font-size: clamp(5px, 1.5vw, 50px);
    color: #A51419;
    line-height: 1.1;
}

.div_HB p {
    margin: 0;
    font-family: 'Martel Sans Reg';
    font-size: clamp(5px, 0.8vw, 50px);
    color: #500909;
    line-height: 1.1;
}

